@import "headers/fullHeader.scss";
@import "headers/fullSlider.scss";
/* width */
::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-slate-500;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}
body {
  @apply text-base text-gray-600 font-poppins;
}
a {
  @apply transition-all ease-out hover:text-blue-700;
}
